
body {
  background-color: rgb(164,197,233,255)
}
.titulo1 {
  background-color: rgb(164,197,233,255)
}
.titulo1 {
  color: rgba(93,89,165,255);
  text-align: center;
  text-shadow: 3px -3px 2px white;
  border-bottom: thick solid rgba(93,89,165,255);
  margin: 0;
}
.caja1 {
  background-color: white
}
.caja1 img {
  float: left;
}
/*clearfix */
.caja1:after {
  display: table;
  clear: both;
  content: "";
}
.globo-naranja {
  background-color: #f28226;
  width: 80%;
  margin-left: 4em;
}
.globo-verde {
  background-image: url("/home/smx2a-2021/Documents/MP08/layoutweb/verde.png");
  margin-left: 6em;
  margin-right: 8em;
}
.container-verde {
  padding: 0 2em;
}
.globo-marron {
  background-color: rgba(180,84,33,255);
  margin-left: 10em;
  margin-right: 2em;
}
.globo {
  padding: 2em;
}
.globo-naranja, .globo-marron {
  color: white;
}
